@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-bg {
  animation: slide 10s linear infinite;
}